body{
    font-family:'Times New Roman', serif
    border:3px solid black;
    padding-left:3px;
    margin:1px;
    height:100%;
}
h1{
    text-align: center;
}
h2{
    color: brown;
    text-decoration: underline;
}
p{
    font-weight: 100;
}
.architecture img{
height:800px;
width: 50%;
padding-left:380px;
}