body{
    font-family:'Times New Roman';
    padding-left:3px;
    margin:1px;
    height:100%;
}
.introduction{
    background-color: rgb(152, 181, 204);
    padding:auto;
}
.install{
    background-color: rgb(152, 181, 204);
}
.code{
    background-color: rgb(152, 181, 204);
}
.performance{
    background-color: rgb(152, 181, 204);
}
.architecture{
    background-color: rgb(152, 181, 204);
}
.uses{
    background-color: rgb(152, 181, 204);
}

.logo img{
    display:flex;
   padding-left: 500px;
}

h2{
    color: brown;
    text-decoration: underline;
}
p{
    font-weight: 100;
}
.flowchart img{
height:100vh;

padding-left:200px;
}